.l-map-mobile-wrap{
	width:100%;
	height:100%;
	#location{

	}
	.header{
		position: absolute;		
		top: 0;
		left: 0;
		#come-back{
			display:block;
		}
	}
	.l-map{
		position:relative;
		width: 100%;
		height: 100%;
		.hover-botton{
			line-height: 4;
			text-align: center;
			vertical-align: middle;
			color:white;
			width:1.5rem;
			height:1.5rem;
			position: absolute;
			z-index: 999;
			left: 50%;
			top:50%;
			transform:translateX(-50%) translateY(-50%);
			border-radius: 100%;
			border:2px solid red;

			&:after{
				content:"";
				display:block;
				width:0.25rem;
				height:0.25rem;
				border-radius:100%;
				background-color:red;
				position:absolute;
				left: 50%;
				top: 50%;
				transform:translateX(-50%) translateY(-50%);
			}
			
		}
		.tool{
			position:absolute;
			z-index:999;
		}
		.revoke,.finish{
			bottom: 2.0rem;
			width:2.5rem;
			height:2.5rem;
			background-color:white;
			border-radius:50%;
			display:flex;
			align-items:center;
			justify-content:center;
			overflow: hidden;
			
		}
		.revoke{
			left: 1.0rem;
			img{
				width:100%;
				max-width: 100%;
				height:auto;
			}

		}

		.finish{
			right: 1.0rem;
			img{
				width:60%;
				max-width: 60%;
				height:auto;
			}
		}

		#add-point-btn{
			z-index: 999;
			width:2.5rem;
			height:2.5rem;
			background-color:#2196F3;
			border-radius:100%;
			position:absolute;
			left: 50%;
			bottom:1.0rem;
			transform:translateX(-50%);

			&:before{
				position:absolute;
				width:200%;
				height:200%;
				border-radius:100%;
				background-color:rgba(3,169,244,0.2);
				content:"";
				display:block;
				left:50%;
				top:50%;
				transform:translateX(-50%) translateY(-50%);
				animation:wave 1s infinite; 
			}
			&:after{
				color:black;
				content:"";
				position:absolute;
				width:50%;
				height:50%;
				border-radius:100%;
				background-color:white;
				display:block;
				left:50%;
				top:50%;
				transform:translateX(-50%) translateY(-50%);
			}				

		}
	}
}

@keyframes wave
{
	from {
		width:100%;
		height:100%;		
	}

	to{
		width:200%;
		height:200%;		
	}
}
